
body, html, .page-content{
	width: 100%;
	height: 100%;
}

ul{
	list-style: none;
}
a img{
	border : none;
}

#main-menu{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#main-menu > li{
	padding:  13.5% 0;
	font-size: 25px;
	width: 100%;
	text-align: center;
}

#main-menu li > a{
	color: #fff;    ;
}
#main-menu .account{
	background-color: #12B0A5;
}
#main-menu .favorite{
	background-color: #F1B136;
}
#main-menu .disconnect{
	background-color: #DE576C;
}
#main-menu .feedback{
	background-color: #885F7F;
}

.timeLine-overlay{
	background-image: url("../img/overlay.png");
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10000;
	color: #FFF;
	text-align: center;
	padding-top: 50%;
	font-size: 40px;
	display: none;
}
.page-content{
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.page-content .range-slider{
	z-index: 10000;
	position: fixed;
	bottom: 0;
	width: 90%;
	margin-left: 5%;
	background: transparent;
}
.page-content .range-slider{
	background: transparent !important;
}

.page-content .swiper-container{
	height: 100%;
}

.page-content .swiper-container .swiper-slide{
	width: 100%;
}

.page-content .swiper-container .swiper-slide img{
	width: 100%;
	height: 100%;
}

.page-content .swiper-container .icon-take-picture{

}

.page-content .swiper-container .icon-take-picture .icon img{
	width: 100%;
}

.page-content .swiper-container .icon-take-picture .icon{
	width: 100%;
	position: fixed;
}

.page-content .swiper-container .icon-take-picture .icon.flash{
	width: 30px;
	top: 5%;
	left: 5%;
}
.page-content .swiper-container .icon-take-picture .icon.switch{
	width: 30px;
	top: 5%;
	right: 5%;
}

.page-content .swiper-container .icon-take-picture .icon.press{
	width: 20%;
	bottom: 5%;
	right: 40%;
}

#icon-panel .icon{
	position: fixed;
	top: 2%;
	z-index: 10000;
	width: 30px;
}

#icon-panel .icon img{
	width: 100%;
}

#icon-panel .info{
	left: 5%;
}

#icon-panel .favorite{
	left: 20%;
}

#icon-panel .take{
	left: 35%;
}

#icon-panel .menu{
	right: 5%;
}

.input-list{
	background-color: #fff;
	padding: 5px 0;
}

.input-list input{
	-moz-appearance: none;
	box-sizing: border-box;
	border: medium none;
	background: none repeat scroll 0px 0px transparent;
	border-radius: 0px;
	box-shadow: none;
	padding: 0px 0px 0px 5px;
	margin: 0px;
	height: 43px;
	color: #000;
	font-size: 17px;
	font-family: inherit;
}
.input-list .input-group{
	padding: 0;
	margin: 5px 0;
	margin-left: 10px;
}
.input-list .input-group label{
	font-size: 17px;
	color: #FFF;
	padding: 10px 5px;
	min-width: 100px;
}

.input-list .input-group.border-green label{
	background: #12B0A5;
}